<div id="content">
  <div class="wrap">
    <div class="c-8">
      <div class="page">
<%= form_for(@painting) do |f| %>
  <% if @painting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@painting.errors.count, "error") %> prohibited this painting from being saved:</h2>

      <ul>
      <% @painting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image_size %><br />
    <%= f.number_field :image_size %>
  </div>
  <div class="field">
    <%= f.label :image_type %><br />
    <%= f.text_field :image_type %>
  </div>
    <%= f.submit 'Add Painting', :class => "button-submit" %>
<% end %>

</div>
</div>
</div>
</div>
