      <div id="intro">
        <div class="wrap">
          
            <div class="c-8">
              <h1>Gallery <%= @gallery.name %></h1>
                <p class="breadcrumbs">You are here: <a href="home.html">Home</a> &raquo; <a href="home.html">Gallery</a> &raquo; <strong>Galleries</strong> </p>
            </div>
            
            <div class="c-4">
              <div class="widget widget-social">
                    <ul>
                        <li><h3 class="widget-title">Kids voice social</h3></li>
                        <li><a class="twitter-intro" title="" href="#"></a></li>
                        <li><a class="facebook-intro" title="" href="#"></a></li>
                        <li><a class="social-intro" title="" href="#"></a></li>
                        <li><a class="rss-intro" title="" href="#"></a></li>
                    </ul>
               </div>
            </div>
            
        </div><!-- end wrap -->
        </div><!-- end intro --> 

<div id="content">
        <div class="wrap">
            <div class="c-12">
              
                <h2 class="portfolio-title">Art Work</h2>
                <h4 class="portfolio-title">This is your art work</h4>
                <% if current_user and current_user.gallery_ids.include?(@gallery.id) %>
                  <%= link_to gallery_path(@gallery), :class => "read-more" do %>
                   This is your gallery. 
                  <% end %>
                <% else %>
                  <%= link_to fans_path(:follower_id => @gallery.user, :gallery_id => @gallery.id), :method => :post, :class => "read-more" do %>
                    Become fan of Artist
                    <span class="circle-arrow"></span>
                  <% end %>
                <% end %>

              <%= link_to new_painting_path(:gallery_id => @gallery), :class => "read-more" do %>
               Add Paintings
               <span class="circle-arrow"></span>
             <% end %>
             
              </br>
                <ul class="portfolio-menu">
                <% @paintings.each do |painting| %>
                  <li class="c-3 four-column">
                        
                        <p class="image">
                          <%= link_to painting,{:rel => 'example_group'} do %> 
                            <span class="gallery-4col-mask"></span>
                            <%= image_tag painting.image_url(:thumb), :size => "194x157" if painting.image? %>
                          <%end%>
                        </p>
                    </li>
                 <% end %>
                  <li class="c-3 four-column clearfix">
                    <p class='image'>
                    </p>
                  </li>
                
                <div class="pagination">
                    <ul>
                        <li><a href="#" class="previous-1"><span class="circle-arrow-left"></span>Previous</a></li>
                        <li><a href="#" class="current">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" class="next-1">Next<span class="circle-arrow"></span></a></li>
                    </ul>
                </div>
            
            </div>    
            </div><!-- end wrap -->
    </div>
