<!DOCTYPE html>
<html>
<head>
  <title>PeanutGalleree</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header"/>
     <div class="wrap">
      
       <h1><%= link_to '' %></h1>
        
        <div id="main-navigation">
            <ul class="dd-menu">
                <li><%= link_to "Home", home_index_path  %></li>
                <li><%= link_to "About", about_home_index_path %></li>
                <li>
                <%= link_to 'Sample', home_index_path  %> 
                   <ul>
                       <li><a href="gallery-2col.html" title="Gallery">Elements</a>
                           <ul>
                               <li><a href="#" title="Sub Item 1">Sub Item 1</a></li>
                               <li><a href="#" title="Sub Item 2">Sub Item 2</a></li>
                               <li><a href="#" title="Sub Item 3">Sub Item 3</a></li>
                               <li><a href="#" title="Sub Item 4">Sub Item 4</a></li>
                           </ul>
                       </li>
                       <li><a href="about-full.html" title="About Full">About Full</a></li>
                       <li><a href="page-styles.html" title="Page Styles">Page Styles</a></li>
                   </ul>
                </li>
                <li> 
                  <%= render 'shared/navigation' %>
                </li>
                <li> 
                   <%= link_to 'Gallery', galleries_path, :title => 'Gallery' %>
                 </li>
                <li><a href="contact.html" title="Contact">Contact</a></li>
            </ul><!-- end dd-menu -->
                    
            </div><!-- end main-navigation -->
        
    </div><!-- end wrap -->
    </div><!-- end header --> 
   
   
   
   
   
   
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>

<%= yield %>
 <div id="footer">
    <div class="wrap">
    
      <div class="c-3">
                <div class="widget widget-upcoming">
                  <h3 class="widget-title">UPCOMING EVENTS</h3>
                  <ul>
                       <li>
                          <h5>
                             <span class="date">
                                <span>APR</span>
                                <span class="day">30</span>
                              </span>
                              <a href="#" title="PAYING PRIVATE SCHOOL TUTTION">PAYING PRIVATE SCHOOL TUTTION</a>
                          </h5>
                          <p>Suspendisse dictu m suscipit odio. Nylla dui arcu, fermentum quis,<br />
                             <span>The bookstore &gt;&gt; 10:00am - 4:00pm</span>
                          </p>
                       </li>
                       <li>
                          <h5>
                             <span class="date">
                                <span>APR</span>
                                <span class="day">30</span>
                              </span>
                              <a href="#" title="PAYING PRIVATE SCHOOL TUTTION">PAYING PRIVATE SCHOOL TUTTION</a>
                          </h5>
                          <p>Suspendisse dictu m suscipit odio. Nylla dui arcu, fermentum quis,<br />
                             <span>The bookstore &gt;&gt; 10:00am - 4:00pm</span>
                          </p>
                       </li>
                  </ul>
                </div>
            </div>
            <div class="c-3">
               <div class="widget widget-latest-news">
                  <h3 class="widget-title">LATEST NEWS</h3>
                  <ul>
                       <li>
                          <p class="meta"><span class="date">APR|10|2011</span></p>
                          <h5><a href="#" title="">LONG TERM ACATEMIC ACHEVEMENT</a></h5>
                            <p>Sed ut perspicia tercit pero error sit voluptatem accusantium dole laudatium, totam rem aperiam, eaque ipsa quae ab illo inventore quasi architecto.</p>
                       </li>
                         <li>
                          <p class="meta"><span class="date">APR|10|2011</span></p>
                          <h5><a href="#" title="">LONG TERM ACATEMIC ACHEVEMENT</a></h5>
                            <p>Sed ut perspicia tercit pero error sit voluptatem accusantium dole laudatium, totam rem aperiam, eaque ipsa quae ab illo inventore quasi architecto.</p>
                       </li>
                  </ul>
              </div>
          </div>
            <div class="c-3">
              <div class="widget widget-latest-posts">
                <h3 class="widget-title">LATEST POSTS</h3>
                  <ul>
                       <li><h5><a href="#" title="">LONG TERM ACATEMIC ACHEVEMENT</a></h5></li>
                       <li><h5><a href="#" title="">POSITIVE ATTITUDES AND BEHAVIOR</a></h5></li>
                       <li><h5><a href="#" title="">MORE SUCCESSFUL PROGRAMS</a></h5></li>
                       <li><h5><a href="#" title="">MORE EFFECTIVE SCHOOLS</a></h5></li>
                       <li><h5><a href="#" title="">MORE EFFECTIVE SCHOOLS</a></h5></li>
                       <li><h5><a href="#" title="">LONG TERM ACATEMIC ACHEVEMENT</a></h5></li>
                         <li><h5><a href="#" title="">MORE EFFECTIVE SCHOOLS</a></h5></li>
                       <li><h5><a href="#" title="">MORE EFFECTIVE SCHOOLS</a></h5></li>
                  </ul>
              </div>
            </div>
            <div class="c-3">
                <div class="widget widget-contact">
                    <h3 class="widget-title">CONTACT US</h3>
                        
                    <form enctype="multipart/form-data" method="post" action="php/mail.php" id="reservationform"> 
                        <div class="send-form">   
                           
                              <p>
                              <label>*Your Name:</label>
                              <input class="u-3" name="name" id="name1" />
                              </p>
                              <p>
                              <label>*Your E-mail:</label>
                              <input class="u-3" name="email" id="email1" />
                              </p>
                              <p>
                              <label>Your Message:</label>
                              <textarea class="u-3" name="message" id="message1" cols="80" rows="3"></textarea>
                              </p>
                              <p>
                              <input type="submit" name="" class="submit" value="Contact Us" />
                              </p>
                              
                         </div><!--  end send-form -->   
                         </form> 
                </div><!--  end widget --> 
            </div>
            
    </div><!-- end wrap -->
    
        <div id="sub-footer" class="clearfix">
            
                    <p id="copyright">&copy; 2011 aislindesign</p>
                    <ul class="subfooter-menu">
                        <li><a href="" title="">Terms &amp; Conditions</a></li>
                        <li><a href="" title="">Copyrights</a></li>
                        <li><a href="" title="">Site Map</a></li>
                    </ul>
                    
        </div><!-- end sub-footer -->

    </div><!-- end footer -->
    
</body>
</html>
